/*
    Button styles
*/

$btn-colors: (
	red,
	green
);

@mixin btn-create($color: $color-theme) {
	background: $color;
	color: white;
	&:hover {
		background: lighten($color, 15%);
	}
	&:active {
		background: darken($color, 15%);
	}
}

@mixin btn-alt-create($color: $color-theme) {
	background: transparent;
	color: $color;
	border: 3px $color solid;
	padding: 7px 17px;
	&:hover {
		background: lighten($color, 15%);
		color: white;
	}
	&:active {
		background: darken($color, 15%);
	}
}

.btn {
	@include btn-create($color-theme);
}

.btn-alt {
	@include btn-alt-create($color-theme);
}

@mixin btn-generate {
	@each $color in $btn-colors {
		.btn-#{$color} {
			@include btn-create($color);
		}
		.btn-alt-#{$color} {
			@include btn-alt-create($color);
		}
	}
}

@include btn-generate;

.btn--disabled {
	pointer-events: none;
	color: rgb(170, 170, 170);
}