/*
	Import necessary styles here
*/

@mixin screen-x($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}

@mixin screen-y($size) {
	@media only screen and (max-height: $size) {
		@content;
	}
}

#__next,
main {
	height: 100%;
}

// FastUI library for faster prototyping
@import "./fastui.css";
// Import core UI styles
@import "./vars.scss";
@import "./Button.scss";
@import "./Badge.scss";

p,
a,
li,
button,
input,
textarea,
label {
	font-size: $font-size;
	color: rgb(100, 100, 100);
}

* {
	font-family: $font-family;
}


// Import component styles
@import "./Loading.scss";
@import "./Login.scss";
@import "./Main.scss";
@import "./TalkList.scss";